.jumbotron {
	background: #0009a1;
	margin-top: 80px;
	height: 30vh;
	color: white;
}

.jumboContent {
	font-size: 4em;
	text-align: center;
}

.page-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	margin-top: 6px;
}

.buttonDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonDiv button {
	font-size: 3em;
}